<% provide(:title, @user.name) %>

<div class="row">
  <section>
    <h1>
      <%= @user.name %>
    </h1>
  </section>
  <div class="span8">
    <% if @user.pages.any? %>
      <h3> Pages (<%= @user.pages.count %>)</h3><br/>
      <table class="table table-striped table-bordered">
        <tr>
          <th>Page ID</th>
          <th>View Count</th>
          <th>Average Time</th>
          <th>Most Recent Visit Origin</th>
          <th></th>
          <th></th>
        </tr>
        <%= render @pages %>
      </table>
    <% end %>
    <%= link_to 'New Page', new_page_path %>
  </div>
</div>
</br>
<%= link_to 'View all users', users_path %>
