<tr>
    <td><%= page.id %></td>
    <td><%= page.count %></td>
    <td><%= page.avg_time %></td>
    <td><%= page.geo %> </td>
    <td><%= link_to "Show", page %></td>
    <td><%= link_to "Destroy", page, method: :delete, data: {confirm: 'You sure?' }%></td>
    <td><%= link_to "Javascript", edit_page_path %></td>
</tr>
      
