<% provide(:title, 'View Page') %>

<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<script type='text/javascript'>
window.startTime = new Date();
window.onbeforeunload = function() {
  var city = geoplugin_city();
  var country = geoplugin_countryCode();
  var endTime = new Date();
  var month = endTime.getMonth();
  var day = endTime.getDate();
  var page_id = <%= @page.id %>;
  var view_count = <%= @page.count %>;
  var totalTime = endTime - window.startTime;
  var xhr = new XMLHttpRequest();
  var url = 'http://aqueous-crag-8090.herokuapp.com/pages/' + <%= @page.id %> +'/view?viewtime=' + totalTime + '&city=' + city + '&country=' + country;
  var url_graph = 'http://aqueous-crag-8090.herokuapp.com/graphs?date=' + month + day + '&page_id=' + page_id + '&view_count=' + view_count;
  xhr.open('GET', url, false);
  xhr.send('');
  xhr.open('GET', url_graph, false);
  xhr.send('');
}
</script>


<p id="notice"><%= notice %></p>

<div class="span8">
  <h3> Your visit to this page will be logged </h3><br/>
  <% if @page.graphs.any? %>
    <table id="datatable" class="table table-striped table-bordered table-condensed">
      <tr>
        <th>Date (Month/Day)</th>
        <th>View Count</th>
      </tr>
      <%= render @graphs %>
    </table>
  <% end %>
</div>

<div class="span3">
<p>
  <b>Count:</b>
  <%= @page.count %>
</p>

<p>
  <b>Average Time:</b>
  <%= @page.avg_time %>
</p>


<%= link_to 'Javascript', edit_page_path %> |
<%= link_to 'Back', current %> 
</div>
<br/><br/>
