<script type='text/javascript'>
var startTime = new Date();
window.onbeforeunload = function() {
  var endTime = new Date();
  var totalTime = endTime - startTime;
  var xhr = new XMLHttpRequest();
  var url = <%= pages_path %> + '?viewtime=' + totalTime;
  xhr.open('GET', url, false);
  xhr.send('');
}
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @page.user_id %>
</p>

<p>
  <b>Count:</b>
  <%= @page.count %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
