<% provide(:title, 'View Page') %>

<script type='text/javascript'>
window.startTime = new Date();
window.onbeforeunload = function() {
  var endTime = new Date();
  var totalTime = endTime - window.startTime;
  var xhr = new XMLHttpRequest();
  var url = 'http://localhost:3000/pages/' + <%= @page.id %> +'/view?viewtime=' + totalTime;
  xhr.open('GET', url, false);
  xhr.send('');
}
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @page.user_id %>
</p>

<p>
  <b>Count:</b>
  <%= @page.count %>
</p>


<%= link_to 'Back', current %> 
