<!DOCTYPE html>
<html>
<head>
  <title>Mari Analytics | <%=yield(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Analytics Engine", root_path, id: "name" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <% if signed_in? %>
            <li><%= link_to "Profile", current %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %>
            <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
    <footer class="footer">
      <small>
        Designed by Mari Miyachi
      </small>
      <nav>
        <ul>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
  </div>
</body>
</html>
